/* ********************** FOOTER ********************** */

footer{
    background-color: #10002B;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.redes {
    text-align: center;
    margin: .62rem;
    width: 10.5rem;
    height: 5.3rem;
}

.contactanos {
    @extend .redes;
}
.pagos {
    @extend .redes;
    img {
        text-align: center;
        width: 3.1rem;
        height: 1.8rem;
    } 
}

